<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Stardew Valley Helpers</title>
</head>

<body>

<div style="border: 1px solid black; margin-bottom: 2em;">
  Current user: <%= logged_in? ? session[:user] : 'not logged in' %>
</div>
<main class="container" role="main">
  <%== yield %>
</main>
</body>

</html>
